<h1>ALL MY FAVORITE SONGS</h1>

<div>
<ul>
  <% @songs.each do |s| %>
  <li><%= link_to s.name, song_path(s) %></li>
  <% end %>
</ul>
</div>

 <p><%= link_to 'Back to bands page', bands_path %></p>
  <p><%= link_to 'Back to home page', welcome_path %></p>
