
<div class="song-div">
<ul>
  <% @songs.each do |s| %>
  <li class="song"><%= link_to s.name, song_path(s) %></li>
  <% end %>
</ul>
</div>
<div class="allSongLinks"
 <p><%= link_to 'Bands/Artists page', bands_path %></p>
  <p><%= link_to 'Home page', welcome_path %></p>
</div>
<footer id="showFooter">
      <div class="footerMessage">© Liana Penn 2017</div>
    </footer>
