<div class="message"><h1><%="Add a new song to #{@band.name}"%></h1><div>
<%= render partial: 'form' %>
<footer id="showFooter">
      <div class="footerMessage">© Liana Penn 2017</div>
    </footer>
