
  <% @bands.each do |b| %>
  <p>
    <div class="bands-div">
      <img class="bandPic" src=<%= b.photo %> />
      <h3 class="bandName"><%= link_to b.name, band_path(b) %></h3>
    </div>
  </p>
  <% end %>
  <p class=addNewBand><%= link_to 'Add a new band!', new_band_path %></p>
  <p class=backHome><%= link_to 'Back to home page', welcome_path %></p>

<footer>
      <div class="footerMessage">© Liana Penn 2017</div>
    </footer>
