
  <% @bands.each do |b| %>
  <p>
    <div>
      <h3><%= link_to b.name, band_path(b) %></h3>
      <br>
      <img src=<%= b.photo %> />
    </div>
  </p>
  <% end %>
  <p><%= link_to 'Add a new band!', new_band_path %></p>
  <p><%= link_to 'Back to home page', welcome_path %></p>

